/* 
    Document   : newCascadeStyleSheet
    Created on : 30 mai 2012, 21:54:45
    Author     : Vincent
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

