body

{
	background-image: url(Images/imageSite/2.png);
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment : fixed;
}
/* marge pour le formulaire */
form.appnitro
{
	margin:20px 20px 0;
	padding:0 0 20px;
}
/* Delimintation des balises <li> et mise en forme */
.appnitro li
{
	width:61%;
}

form li
{
	display:block;
	margin:0;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li:after
{
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}


/* Mise en forme du formulaire ( espacement entre les cases par exemple, ou encore la taille de ces dernières et la marge )*/
form li div
{
	
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li span
{
	color:#444;
	float:left;
	margin:0 4px 0 0;
	padding:0 0 8px;
}

form li div.left
{
	display:inline;
	float:left;
	width:48%;
}


form li div.left .medium
{
	width:100%;
}
/* gere la taille en dessous des cases et la mise en forme */

form li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}


form li span label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}
/**** Mise en forme Inputs Et Labels ****/
label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}
/* Mise en forme pour le Select pour la liste des pays */
select.select
{
	color:#333;
	font-size:100%;
	margin:1px 0;
	padding:1px 0 0;
	background:#fff url(../../../images/shadow.gif) repeat-x top;
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
}
input.medium
{
	width:50%;
}

select.medium
{
	width:50%;
}

input.large
{
	width:99%;
}


/**** Miste en forme du formulaire ****/
form li.highlighted
{
	background-color:#fff7c0;
}

form .guidelines
{
	background:#8AFAEB;
	border:1px solid #e6e6e6;
	color:#A44040;
	font-size:80%;
	left:100%;
	line-height:130%;
	margin:0 0 0 8px;
	padding:8px 10px 9px;
	position:absolute;
	top:0;
	visibility:hidden;
	width:42%;
	z-index:1000;
}
/* affiche le "obligatoire" */
form li:hover .guidelines
{
	visibility:visible;
}



